$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-dark-2: #197c5b;

$color-green: #26ae61;
$color-dark-green: #28583c;

$color-white: #fff;
$color-red: #ff4000;
$color-red-dark: #c22020;
$color-warn: 	#ff8000;

$color-black: #000;
$color-black-inputs: #333333;
$text-white: #fff;

$text-gray: #999;
$color-gray: #999;
$border-gray: #e0e0e0;

$color-black-light: #4d4d4d;

$color-table-light-gray: #fafafa;
$color-table-middle-gray: #f6f6f6;

$color-blue: #265a56;

$color-black: #000;

$color-grey: #eee;
$color-middle-grey: #ccc;