.dropdown {
  display: inline;

  &:hover .dropdown-menu {
    display: block;
  }
}

//#root {z-index: 1;}

.stickie-nav {
  position: fixed;
  //sposition: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  height:4rem;
  z-index: 9;
  border-bottom: 1px solid #05331a;
  //background: #28583c;
  background: #fff;
  color:#fff;

  &__logo {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    background-image: linear-gradient(to right,$color-primary-dark-2 10%, $color-primary 100%);
    -webkit-background-clip: text;
    color: transparent;

    &:hover {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.63);
    }
  }

  &__menu-link {
    
    all: unset;
    border: none;	
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    line-height: 1.1rem;


    font-size: 1rem;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 6px 10px;
    margin: 3px;

    &:hover {
      text-decoration: none;
      background: #344915;
      color: rgba(255, 255, 255, 0.507);
    }
  }
}

.header-img {
  
  position:relative;
  top: -4rem;

  width: 100%;
  height: calc(25vh + 3rem);
  /*
  background-image: linear-gradient(to right bottom, 
                          rgba(#0747075b, 0.5), 
                          rgba(#05331a, 0.8)), url('../../../images/man-map.jpg');*/
                          //rgba(#05331a, 0.8)), url('../../../images/startup.jpg');
  background-attachment: fixed; 
  background-size: cover;   
  background-position: left 0% top 0%;
  background-size: 100% auto;

  animation-name: header-background;
  animation-duration: 100s;
  transition: all 5s;
  animation-iteration-count: infinite;

}

@media screen  and (max-width: 767px) { 
  .header-img {
    height: calc(50vh + 3rem);
    background-repeat: no-repeat; 
background-size: cover; 
background-position: center; 
  }
}


.header {
  &__search {
    padding: 1rem;
    margin: 0;
  }
  
  &__links {
    display:none;
  }
  @media screen and (min-width: 767px){
    &__links {
      display:block;
    }
  }
}

.section-header__search {
  position: absolute;
   bottom: 0; 
   left: 0; 
   right: 0;
   background: rgba(#000, .4);
}


