@-webkit-keyframes textColors {
  0% {
    color: red;
  }
  50% {
    color: yellow;
  }
  100% {
    color: red;
  }
}

@keyframes textColors {
  0% {
    color: red;
  }
  50% {
    color: yellow;
    transform: scale(1.2);
    
  }
  100% {
    color: red;
  }
}

@keyframes header-background {
  0% {
    background-image: linear-gradient(to right bottom, 
    rgba(#0747075b, 0.5), 
    rgba(#05331a, 0.8)), url('../../../images/man-map.jpg');
    transition: all 5s;
  }

  40% {
    background-image: linear-gradient(to right bottom, 
    rgba(#0747075b, 0.5), 
    rgba(#05331a, 0.8)), url('../../../images/change.jpg');
    transition: all 5s;
  }

  70% {
    background-image: linear-gradient(to right bottom, 
    rgba(#0747075b, 0.5), 
    rgba(#05331a, 0.8)), url('../../../images/apple_pc.jpg');
    transition: all 5s;
  }
  
  100% {
    background-image: linear-gradient(to right bottom, 
    rgba(#0747075b, 0.5), 
    rgba(#05331a, 0.8)), url('../../../images/man-map.jpg');
  }
}

@-webkit-keyframes profile_photo {
  0% { 
    transform: translateY(2px);
  }
  50% { 
    transform: translateY(-2px);
  }
  100% { 
    transform: translateY(2px);
  }
}

@keyframes profile_photo {
  0% { 
    transform: translateY(2px);
  }
  50% { 
    transform: translateY(-2px);
  }
  100% { 
    transform: translateY(2px);
  }
}



@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }

  80% {
      transform: translateX(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}