html {
  scroll-behavior: smooth;
}

body {overflow-x:hidden; }

.full-width {
  width: 100%;
}

.to-top {
  position:fixed;
  bottom: 1rem;
  right: 10vw;
  background: $color-dark-green;//$color-black-light;
  width: 2rem;
  height: 2rem;
  //border-radius:50%;
  text-align: center;
  opacity: 0;
  transition: opacity .8s;

  &:hover {
    background-color: $color-black-light;
  }
   & a {
     color: $color-white;
     font-size: 1.4rem;
     font-weight: 1000;
     &:hover {
       color: $color-black;
     }
   }
}

.flex {
  display: flex;
}

#entrance-point .nav-tabs {
  justify-content: center;
}

#entrance-point .nav-tabs a {
  //min-width: 300px;
  width: 33.333%;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: none;
  //padding: 3rem 4rem;
  padding: 3rem 2rem;
}

.verticaly-center {
  display: block;
  width: 100%;
  padding: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.total-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** Image slider */
.image-gallery-slide img {
  width: auto;
  height: 400px;
  //max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}


.fullscreen .image-gallery-slide img {
  height: 100vh;
  max-height: 100vh;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  outline: none !important;
}