.flex {
  display: flex;
}

#entrance-point .nav-tabs {
  justify-content: center;
}

#entrance-point .nav-tabs a {
  //min-width: 300px;
  width: 50%;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: none;
  padding: 3rem 4rem;
}

