a {
  color: $color-black;
}

.black-link {
  color: $color-black;
  //font-size:1.2rem;
  //font-weight: 400;
  //margin-left: .5rem;
  //display: inline-block;
  text-decoration: none !important;
  &:hover {
    color: $color-dark-green;
  }
}
.footer__text {
  color: #999;
}

.table-row__text-color {
  color: $color-black;
}

.more-info {
  color: #fff;
  padding: 4px 10px;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: all .5s;
  display: inline-block;

  &--dark {
    color: $color-black;
    border: 1px solid $color-black;
  }


  &:hover {
    transform: translateY(-3px);
    text-decoration: none;
    //background: #344915;
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.507);
  }
  
  &:active,
  &:focus {
    transform: translateY(-1px);
  }
}

.white-link {
  color: $text-gray;
  display: inline-block;
  transform: all .3s;

  &:hover {
    text-decoration: none;
    color: $text-white;
    transform: scale(1.05);// translateX(5px);
  }
}

.more-info-2 {

  &:link,
  &:visited {
    color: $color-red;
    font-weight: 600;
    display: table;
    margin: auto auto;
    padding: 3px;
    box-sizing: border-box;
  }

  &__arrow {
    display:inline-block;
    transform: translateY(-2px);
  }

  &:hover {
    color: $color-red-dark;
    text-decoration: none;
    border-bottom: 1px solid $color-red-dark;
    //transform: translateY(-2px);
    //box-shadow: 0 0 .5rem rgba($color-black, .2);
    //box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }
  
  /*
  &:active {
    transform: translateY(-1px);
  }*/
}

.text-red {
  color: $color-red;
}


.breadcrumb-link {
  color: $color-black;
  font-size: 1.2rem;
  margin-top: 5px;
  transition: all .5s ease;
  display: inline-block;
  text-decoration: none;
  
  &::after {
    display:block;
    content: '';
    border-bottom: solid 1.5px $color-primary-dark-2;
    padding-bottom: 5px;
    transform: scaleX(0);  
    transition: transform .2s ease-in-out;
  }

  &:hover {
    text-decoration: none;
    transform: scale(.95) translateY(-3px);
    color: $color-dark-green;
    &::after { transform: scaleX(1); }
  }
  
  &:focus,
  &:active {
    transform: scale(.95) translateY(-1px);
  }
}


.heading-primary {
  color: $color-black;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin: 6rem 0;

  &--main {
      display: block;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: .25rem;
  
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      
     /* @include respond(phone) {
          letter-spacing: 1rem;
          font-family: 5rem;
      }
      /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */
  }
  
  &--sub {
      display: block;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: .25rem;
      animation: moveInRight 1s ease-out;
/*
      @include respond(phone) {
          letter-spacing: .5rem;
      }
      /**/
  }
}