.footer__text {
  color: #999;
}

.table-row__text-color {
  color: $color-black;
}

.more-info {
  color: #fff;
  padding: 4px 10px;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: all .5s;
  display: inline-block;

  &--dark {
    color: $color-black;
    border: 1px solid $color-black;
  }


  &:hover {
    transform: translateY(-3px);
    text-decoration: none;
    //background: #344915;
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.507);
  }
  
  &:active,
  &:focus {
    transform: translateY(-1px);
  }
}

.white-link {
  color: $text-gray;
  display: inline-block;
  transform: all .3s;

  &:hover {
    text-decoration: none;
    color: $text-white;
    transform: scale(1.05);// translateX(5px);
  }
}

.more-info-2 {

  &:link,
  &:visited {
    color: $color-red;
    font-weight: 600;
    display: table;
    margin: auto auto;
    padding: 3px;
    box-sizing: border-box;
  }

  &__arrow {
    display:inline-block;
    transform: translateY(-2px);
  }

  &:hover {
    color: $color-red-dark;
    text-decoration: none;
    border-bottom: 1px solid $color-red-dark;
    //transform: translateY(-2px);
    //box-shadow: 0 0 .5rem rgba($color-black, .2);
    //box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }
  
  /*
  &:active {
    transform: translateY(-1px);
  }*/
}

.text-red {
  color: $color-red;
}

.breadcrumb-link {
  color: $color-black;
  font-size: 1.2rem;
  margin-top: 5px;
  transition: all .5s ease;
  display: inline-block;

  &:hover {
    transform: scale(.95) translateY(-3px);
    color: darkgreen;
    text-decoration: none;
    border-bottom: 1px solid darkgreen;
    //border-top: 1px solid darkgreen;
    padding-bottom:5px;
    //padding-top: 5px;
  }
  
  &:focus,
  &:active {
    transform: scale(.95) translateY(-1px);
    color: darkgreen;
    text-decoration: none;
    border-bottom: 1px solid darkgreen;
  }
}
