.footer__text {
  color: #999; }

.table-row__text-color {
  color: #000; }

.more-info {
  color: #fff;
  padding: 4px 10px;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: all .5s;
  display: inline-block; }
  .more-info--dark {
    color: #000;
    border: 1px solid #000; }
  .more-info:hover {
    transform: translateY(-3px);
    text-decoration: none;
    color: white;
    border-color: rgba(255, 255, 255, 0.507); }
  .more-info:active, .more-info:focus {
    transform: translateY(-1px); }

.white-link {
  color: #999;
  display: inline-block;
  transform: all .3s; }
  .white-link:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.05); }

.more-info-2 {
  /*
  &:active {
    transform: translateY(-1px);
  }*/ }
  .more-info-2:link, .more-info-2:visited {
    color: red;
    font-weight: 600;
    display: table;
    margin: auto auto;
    padding: 3px;
    box-sizing: border-box; }
  .more-info-2__arrow {
    display: inline-block;
    transform: translateY(-2px); }
  .more-info-2:hover {
    color: #c22020;
    text-decoration: none;
    border-bottom: 1px solid #c22020; }

.text-red {
  color: red; }

@-webkit-keyframes textColors {
  0% {
    color: red; }
  50% {
    color: yellow; }
  100% {
    color: red; } }

@keyframes textColors {
  0% {
    color: red; }
  50% {
    color: yellow;
    transform: scale(1.2); }
  100% {
    color: red; } }

.flex {
  display: flex; }

.dropdown {
  display: inline; }
  .dropdown:hover .dropdown-menu {
    display: block; }

.stickie-nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  z-index: 999;
  border-bottom: 2px solid #05331a;
  color: #fff; }
  .stickie-nav__logo {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    background-image: linear-gradient(to right, #0e0f0f 30%, #a5f507, #fff 100%);
    -webkit-background-clip: text;
    color: transparent; }
    .stickie-nav__logo:hover {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.63); }
  .stickie-nav__menu-link {
    all: unset;
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    line-height: 1.1rem;
    font-size: 1rem;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 6px 10px;
    margin: 3px; }
    .stickie-nav__menu-link:hover {
      text-decoration: none;
      background: #344915;
      color: rgba(255, 255, 255, 0.507); }

.header-img {
  position: relative;
  top: -4rem;
  width: 100%;
  height: calc(40vh + 3rem);
  background-image: linear-gradient(to right bottom, rgba(7, 71, 7, 0.5), rgba(5, 51, 26, 0.8)), url("../../../images/startup.jpg");
  background-size: cover;
  background-attachment: fixed; }

.header__search {
  padding: 1rem;
  margin: 0; }

.section-header__search {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4); }

.footer {
  background: #202020;
  color: #fff;
  padding: 1rem; }
  .footer__break {
    border: 1px solid #333; }
  .footer__list {
    margin-top: 1rem;
    list-style: none;
    padding: 0;
    /*
    & li {
      position: relative;
      color: $text-gray;
      left: 20px;
    }

    & li:before {
      content: '';
      position: absolute;
      border-right:2px solid black;
      border-bottom:2px solid black;
      border-color: $text-gray;
      width:10px;
      height:10px;
      top: calc(50% - 4px);
      left: -20px;
      transform: translateY(-50%) rotate(-45deg);
    }
    */ }
    .footer__list li:not(:last-child) {
      margin-bottom: 1px; }

.blog-slider {
  background-image: url("../../../images/geometry.png");
  background-attachment: fixed;
  min-height: 40vh;
  padding: 2rem; }
  .blog-slider__card {
    transition: all .4s;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; }
    .blog-slider__card__info {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0px;
      width: 80%;
      background-color: #fff;
      color: red;
      z-index: 2;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 4px;
      text-align: center; }
    .blog-slider__card:hover {
      transform: translateY(-4px);
      box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.2); }
    .blog-slider__card:active, .blog-slider__card:focus {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .blog-slider__card__image {
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
      transition: all .5s; }
    .blog-slider__card__caption {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -100%);
      width: 80%;
      background-color: #fff;
      color: red;
      font-size: 1rem;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 2px;
      text-align: center;
      text-transform: uppercase;
      text-align: center;
      opacity: 0;
      transition: all .1s ease-out;
      backface-visibility: hidden; }
    .blog-slider__card:hover .blog-slider__card__image {
      filter: blur(1.5px) brightness(90%);
      transform: scale(1.01); }
    .blog-slider__card:hover .blog-slider__card__caption {
      opacity: 1;
      transform: translate(-50%, 0%);
      z-index: 10; }

.categories__card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 10rem;
  /* Animation with two sides */
  /*
  
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0) scale(1.02);
          &:active {
        transform: translateY(3px) scale(1.02); 
      }
  }
  /**/ }
  .categories__card__icon {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
    display: inline-block;
    margin: auto auto; }
  .categories__card__title {
    font-size: .9rem;
    text-transform: uppercase; }
  .categories__card__text {
    font-size: .8rem; }
  .categories__card__side {
    height: 10rem;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box; }
    .categories__card__side--front {
      background: #f2f2f2; }
    .categories__card__side--back {
      background: #f7f7f7;
      border: 1px solid #bfbfbf;
      transform: rotateY(180deg) scale(1.02) translateY(-10px);
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .categories__card:hover .categories__card__side--front {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    border: 1px solid #bfbfbf;
    transform: scale(1.01);
    z-index: 999; }

.get-started {
  background-image: linear-gradient(to bottom right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../../../images/apple_pc.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .get-started container {
    display: relative; }
  .get-started__heading-visible {
    font-size: 2rem;
    transition: all .5s;
    animation-name: textColors;
    animation-duration: 15s;
    animation-iteration-count: infinite; }
  .get-started__heading-hidden {
    font-size: 2rem;
    transform: translateY(5rem);
    display: inline-block;
    transition: all 1s;
    opacity: 0; }
  .get-started:hover {
    background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(25, 124, 91, 0.8)), url("../../../images/apple_pc.jpg"); }
    .get-started:hover .get-started__heading-hidden {
      color: red;
      transform: translateY(0);
      opacity: 1; }
    .get-started:hover .get-started__heading-visibles {
      color: red;
      transform: translateY(-5rem); }

.advertisements-row {
  border-top: 0.2px solid #e0e0e0;
  border-right: 0.2px solid #e0e0e0;
  padding: .5rem;
  background-color: #fafafa; }
  .advertisements-row:last-child {
    border-bottom: 0.2px solid #e0e0e0; }
  .advertisements-row--red {
    border-left: 6px solid red; }
  .advertisements-row:hover {
    background-color: #f6f6f6; }
  .advertisements-row__badge {
    display: block !important;
    margin: auto; }
  .advertisements-row__info-txt {
    display: block !important;
    margin: auto; }
  .advertisements-row__description h5 a {
    color: black; }
  @media screen and (max-width: 767px) {
    .advertisements-row__description {
      text-align: center; } }

.advertisement-statuses {
  list-style-type: none;
  background: #fafafa;
  padding: 0; }

.advertisement-status {
  position: relative;
  width: 100%;
  padding: .5rem 0px .5rem 0rem;
  box-sizing: border-box;
  border: 0.2px solid #e0e0e0; }
  .advertisement-status:hover {
    background: #f6f6f6; }
  .advertisement-status label:hover {
    cursor: pointer; }
  .advertisement-status:not(:last-child) {
    border-bottom: none; }
  .advertisement-status__filter {
    width: 0;
    height: 0;
    opacity: 0; }
  .advertisement-status__label {
    position: relative;
    width: 100%;
    margin: 0; }
  .advertisement-status__filter-span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .6rem;
    height: 1.2rem;
    width: 1.2rem;
    background-color: #eee;
    border-radius: 2px; }
    .advertisement-status__filter-span:hover {
      background-color: #ccc; }
    .advertisement-status__filter-span:after {
      content: "";
      position: absolute;
      display: none;
      left: 30%;
      top: 45%;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg) translate(-50%, -50%);
      -ms-transform: rotate(45deg) translate(-50%, -50%);
      transform: rotate(45deg) translate(-50%, -50%); }
  .advertisement-status__badge {
    padding: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: backround-image .5s ease .075s;
    width: 9rem;
    display: inline-block; }
    .advertisement-status__badge--red {
      background-image: linear-gradient(to right, red 10%, transparent 10%); }
    .advertisement-status__badge--blue {
      background-image: linear-gradient(to right, #265a56 10%, transparent 10%); }
    .advertisement-status__badge--green {
      background-image: linear-gradient(to right, #26ae61 10%, transparent 10%); }
    .advertisement-status__badge--yellow {
      background-image: linear-gradient(to right, red 10%, transparent 10%); }
    .advertisement-status__badge--gray {
      background-image: linear-gradient(to right, #999 10%, transparent 10%); }
  .advertisement-status__filter:checked ~ .advertisement-status__filter-span {
    background-color: #26ae61; }
    .advertisement-status__filter:checked ~ .advertisement-status__filter-span::after {
      display: block; }
  .advertisement-status__filter:checked ~ .advertisement-status__badge {
    color: #fff; }
    .advertisement-status__filter:checked ~ .advertisement-status__badge--red {
      background-image: linear-gradient(60deg, red 110%, transparent 110%); }
    .advertisement-status__filter:checked ~ .advertisement-status__badge--blue {
      background-image: linear-gradient(60deg, #265a56 110%, transparent 110%); }
    .advertisement-status__filter:checked ~ .advertisement-status__badge--green {
      background-image: linear-gradient(60deg, #26ae61 110%, transparent 110%); }
    .advertisement-status__filter:checked ~ .advertisement-status__badge--yellow {
      background-image: linear-gradient(60deg, red 110%, transparent 110%); }
    .advertisement-status__filter:checked ~ .advertisement-status__badge--gray {
      background-image: linear-gradient(60deg, #999 110%, transparent 110%); }

.categories-section {
  min-height: 40vh; }
