.card {

  &__header {
    position: relative;
    //display: table;
    min-height: 4rem;
    background-image: linear-gradient(to bottom right, rgba($color-primary-dark, .7), rgba($color-primary, .7));

    &:hover {
      background-image: linear-gradient(to bottom right, rgba($color-primary-dark, .8), rgba($color-primary, .8));
    }
  }
}