.user-card {
  background: $color-table-light-gray !important;

  &:hover {
    background-color: $color-table-middle-gray !important;
  }

  &__header {
    background-image: linear-gradient(to bottom right, rgba($color-primary, .8), rgba($color-primary-dark, .8));
    background: $color-grey;
    min-height: 6rem;
    -webkit-clip-path: polygon( 0 0, 100% 0, 100% 6rem, 50% 8rem,0 6rem);
    clip-path: polygon( 0 0, 100% 0, 100% 4rem, 50% 5rem,0 4rem);
   
    /*
    &:hover {
     background-image: linear-gradient(to bottom right, rgba($color-primary, .9), rgba($color-primary-dark, .9));
     background: $color-middle-grey;
    }
    */
   }

   &__img-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: lightgreen;
    //background-image: url('/public/images/man_icon.svg');
    display: inline-block;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    animation-name: profile_photo;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    
    &:hover {
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
      transform: translateY(-3px);
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
   }

   &__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: all .5s ease-in-out;

    &:hover {
      -webkit-filter: blur(.5px); /* Safari 6.0 - 9.0 */
      filter: blur(.5px);
      transform: scale(1.3);
    }
    
   }

   &__container {
    height: 15rem;
     max-width: 100%; 
    -webkit-clip-path:polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 98%);
    
    &__image {
      width: 100%;
      height: 15rem;
      object-fit: cover;
    }
   }


   &__button {
     min-width: 2.5rem;
     margin:1px;
     color: red;

     &:hover /*&:first-child*/{
       color: greenyellow;
        background: gray;
     }
   }
}