.dropdown {
  display: inline; }

.stickie-nav {
  position: sticky;
  /* doesnt work :( */
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  z-index: 999;
  transition: background-color .4s ease-in; }

.header-img {
  position: relative;
  top: -3rem;
  width: 100%;
  height: calc(40vh + 3rem);
  background: green;
  background-image: linear-gradient(to right bottom, rgba(0, 128, 0, 0.8), rgba(0, 0, 255, 0.8)); }
